<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <%= simple_form_for [ @article ] do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title, label: 'Title' %>
        <%= f.input :text, label: "Whacha think?" %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<div class="field">
  <%= form.label :title %>
  <%= form.text_filed :title %>
</div>

<div class="field">
  <%= form.label :created_at %>
  <%= form.text_field :created_at, data: { behavior: "flatpickr"} %>
</div>
