<!-- articles/index.html.erb -->


<div class="articles-container">
  <h1>Articles</h1>

  <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
    <div>
      Search
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <div>
      Author
      <%= f.select(
        :with_user_id,
        @filterrific.select_options[:with_user_id],
        { include_blank: '- Any -' }
      ) %>
    </div>
    <div>
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],
          {}
      )%>
    </div>
    <div>
      <%= f.submit 'Filter' %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>
  <%= render(
    partial: 'articles/list',
    locals: { articles: @articles }
  ) %>
</div>



