<div class="articles-container">


<%= search_form_for @q do |f| %>
    <div class="field">
        <%= f.search_field :title_or_text_or_user_surname_cont %> <%= f.submit "Search" %>
    </div>
    <div class="counter m-2">
      <p> Found <strong><%= @articles.count %></strong> results </p>

    </div>
<% end %>

  <div class="index-container">
    <table class="pretty">
      <tr>
        <th><%= sort_link @q, :title, "Title" %></th>
        <th><%= sort_link(@q, :user_surname, 'Surname') %></th>
        <th><%= sort_link @q, :created_at, "Created" %></th>
        <th><%= sort_link @q, :updated_at, "Updated" %></th>
      </tr>
      <%  @articles.each do |article|  %>
            <tr>
                <td><%= link_to article_path(article) do %> <%= truncate(article.title, :length => 50) %> <% end %></td>
                <td><%= article.user.surname %></td>
                <td><%= article.created_at.strftime("%B %e, %Y") %></td>
                <td><%= article.updated_at.strftime("%B %e, %Y") %></td>
            </tr>
      <% end %>
    </table>
  </div>
   <%= will_paginate @articles, :container => false %>
</div>
