<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 m-2">
      <h1> Welcome <%= current_user.name.split(" ").first.capitalize %>,</h1>
      <!-- <h1>Pages#home</h1> -->
      <p> This is your dashboard</p>
      <p><%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
      <p>Name: <%= current_user.name.split(" ").first.capitalize %> <%= current_user.surname.split(" ").first.capitalize %></p>
      <p>Email: <%= current_user.email %></p>
      <%= link_to 'Write an Article', new_article_path %>
      <p>Your list of Articles: <% current_user.articles.each do |article| %>
        <p><%= link_to article.title, article_path(article) %>  <%= link_to "Edit", edit_article_path(article) %> || <%= link_to "Remove", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>

        </p>
      <% end %>
    </div>
  </div>
</div>
